<!DOCTYPE html>
<html lang="br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CCIFUSP - Relatórios de Impressão</title>
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<div class="page">
		<nav class="navigation">
			<div class="wrapper">
				<h1>CCIFUSP</h1>
			</div>
		</nav>

		<div class="content">
			<div class="printers">
				<div class="wrapper">
					<div class="title">
						<h2>Impressoras</h2>
					</div>
					<div class="printer-list"><!-- JS ADICIONA IMPRESSORAS AQUI --></div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>