@font-face {
	font-family: Eau;
	font-weight: normal;
	src: url('../assets/fonts/eau_sans_book.otf');
}

@font-face {
	font-family: Eau;
	font-weight: bold;
	src: url('../assets/fonts/eau_sans_bold.otf');
}

* {
	margin: 0;
	padding: 0;
	font-family: Eau;
}

body { background-color: #E6E7E8; }
h1, h2, h3, h4, h5, h6 { color: #0F6688; }
p { line-height: 24px; }
span { color: #231F20; }
button {
	padding: 16px 24px;
	background-color: #17739A;
	border: hidden;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	transition: all 0.25s;
	cursor: pointer;
}
button:hover { background-color: #228FBD; }

div.stack div.element { padding: 60px 0; }

div.wrapper {
	width: 70%;
	padding: 0 15%;
}

div.panel {
	display: flex;
	flex-direction: column;
}
div.panel > div.title { width: 100%; }
div.panel > div.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.box {
	width: 80%;
	padding: 10%;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #4D4D4F;
}

nav.navigation {
	display: flex;
	flex-flow: row;
	width: 100%;
	padding: 12px 0;
	background-color: #0F6688;
	color: #FFFFFF;
}

nav.navigation h3 { color: #FFFFFF; }

div.footer {
	width: 100%;
	padding: 16px 0;
	bottom: 0;
	color: #6D6E71;
}

div.footer div.info { text-align: center; }


div.info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
div.info span { color: #4D4D4F; }
div.info div.item {
	background-color: #FFFFFF;
	padding: 2%;
	border-radius: 5px;
}
div.info div.item div.title { font-weight: bold; }
div.info div.item div.content {
	padding: 20px 0;
	text-align: center;
}
div.info div.item div.content h2 { font-size: 48px; }
div.info div.item div.bottom { text-align: right; }

div.plots {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
div.plots div.plot {
	background-color: #FFFFFF;
	padding: 2%;
	border-radius: 5px;
}
div.plots div.plots div.title { font-weight: bold; }

@media screen and (max-width: 1200px) {
	div.wrapper {
		width: 96%;
		padding: 0 2%;
	}
}

@media screen and (max-width: 624px) {
	div.stack div.element {
		padding: 30px 0;
	}
}